:root {
    --primary: #080202;
    --secondary: #73BBC9;
    --info: #F1D4E5;
    --contrast: #FCE9F1;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--primary);
}

div {
    padding: 10px 0px 10px 0px;
    background-color: var(--secondary);
    color: var(--info);
    border: 0px solid var(--contrast);
    border-color: var(--contrast);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


#Volcan{
    padding: 10px 0px 10px 0px;
    background-color: var(--primary);
    text-align: center;

    color: var(--contrast);
    border: 0px solid var(--contrast);
    border-color: var(--contrast);
}