:root {
    --primary: #792a47 ;
    --secondary: #c08493;
    --info: black;
    --contrast: #F2BED1;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--primary);
}

div {
    padding: 10px 0px 10px 0px;
    background-color: var(--secondary);
    color: var(--info);
    border: 0px solid var(--contrast);
    border-color: var(--contrast);
}


#Trueno{
    padding: 10px 0px 10px 0px;
    background-color: var(--primary);
    text-align: center;

    color: var(--contrast);
    border: 0px solid var(--contrast);
    border-color: var(--contrast);
}