:root {
    --primary: #9BABB8;
    --secondary: #D7C0AE; 
    --info: #EEE3CB;
    --contrast: #977f78 ;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: var(--primary);
}

div {
    padding: 10px 0px 10px 0px;
    background-color: var(--contrast);

    color: var(--info);
    border: 0px solid var(--contrast);
    border-color: var(--contrast);
}

#Pantano{
    padding: 10px 0px 10px 0px;
    background-color: var(--primary);

    color: var(--info);
    border: 0px solid var(--primary);
    border-color: var(--contrast);
}